.hidden
    display: none

.visible
    display: block

.row.padded
    padding-bottom: 4px

.padded10
    padding-bottom: 10px

.hpadded
    margin-left: 15px
    margin-right: 15px

.right
    float: right

.left
    float: left

.relative
    position: relative


.label-lg
    font-size: 100%
    padding: .3em .6em .4em .6em

.modal-dialog
    width: 1000px
