.hidden
    display: none

.visible
    display: block

.row.padded
    padding-bottom: 4px

.padded10
    padding-bottom: 10px

.hpadded
    margin-left: 15px
    margin-right: 15px

.right
    float: right

.left
    float: left

.modal-dialog
    width: 1000px
