.uml
    .class

        .part
            stroke: black
            stroke-width: 2
            fill: white

        .name
            cursor: move


.text
    stroke-width: 0
    font-size: 14px
    font-family: Arial
    fill: black
    line-height: 16px
