.uml
    .class
        cursor: move

        .edit
            cursor: pointer

        .part
            stroke: black
            stroke-width: 2
            fill: white

.text
    stroke-width: 0
    font-size: 14px
    font-family: Arial
    fill: black
    line-height: 16px



.editView
    position: fixed
    width: 200px
    height: 400px
    border: 1px solid black
    left: calc(50% - 100px)
    top: calc(50% - 200px)
