.uml.edit
    .form-group
        padding: 10px 0px 10px 0px

        &:hover
            // NOTE: from bootstrap's .bg-info
            background-color: #d9edf7

            .close.property
                display: block !important

        .row.parameter
            padding: 4px 0px 4px 0px

            &:hover
                // NOTE: from bootstrap's .bg-primary
                // background-color: rgb(51, 122, 183)
                background-color: rgb(252, 248, 227)

                .close.parameter
                    display: block !important
