.hidden
    display: none

.visible
    display: block

.row.padded
    padding-bottom: 4px

.padded10
    padding-bottom: 10px

.hpadded
    margin-left: 15px
    margin-right: 15px

.bigger
    font-size: 1.1em

.clickable
    cursor: pointer

    & input
        cursor: pointer

.centered
    text-align: center
    vertical-align: middle

.right
    float: right

.left
    float: left

.relative
    position: relative

// BOOTSTRAP
.label-lg
    font-size: 100%
    padding: .3em .6em .4em .6em

.alert-sm
    font-size: 0.9em
    padding: 12px

.form-control.no-focus:focus
    border-color: #ccc
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075)
.navbar

    a
        cursor: default

    .dropdown-menu a
        cursor: pointer

    .label
        cursor: pointer

        &:hover
            background-color: #286090
            border-color: #204d74

    .close
        display: none
        position: absolute
        right: 6px
        top: 5px




$searchBackground: rgb(200, 200, 200)

.svgWrapper
    height: calc(100% - 52px)
    left: 0px
    overflow: auto
    position: fixed
    top: 52px
    width: 100%

    .background
        fill: white

        &.searching
            fill: $searchBackground

.uml
    width: 100%
    height: 800px

    &.edit .modal-dialog
        width: 1000px

    .class
        // cursor: move

        .overlayWrapper
            cursor: pointer
            display: none


            .overlay
                fill: white
            .text
                font-size: 16px
                font-weight: bold

            &:hover, &.selected
                .overlay
                    // from bootstrap's alert-info
                    fill: #d9edf7
                    stroke: #bce8f1
                .text
                    fill: #31708f
        .edit
            cursor: pointer

        .part
            stroke: black
            stroke-width: 2
            fill: white

        &.searching .part
            fill: $searchBackground


.text
    stroke-width: 0
    font-size: 14px
    font-family: Arial
    fill: black
    line-height: 16px



.editView
    position: fixed
    width: 200px
    height: 400px
    border: 1px solid black
    left: calc(50% - 100px)
    top: calc(50% - 200px)
.uml.edit
    .form-group
        padding: 10px 0px 10px 0px

        &:hover
            // NOTE: from bootstrap's .bg-info
            background-color: #d9edf7

            .close.property
                display: block !important

        .row.parameter
            padding: 4px 0px 4px 0px

            &:hover
                // NOTE: from bootstrap's .bg-primary
                // background-color: rgb(51, 122, 183)
                background-color: rgb(252, 248, 227)

                .close.parameter
                    display: block !important
.edgePaths .path
    stroke: black
    stroke-width: 1.5px
.selectClassesForConnection
    left: 25%
    display: none
    opacity: 0.9
    position: fixed
    top: 5px
    right: 25%
    z-index: 100

    .alert
        box-shadow: 0px 0px 10px 1px #a94442
        margin-bottom: 0px
        padding-right: 40px
